body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.person{
    background-color: lightblue;
    padding: 10px 20px;
    width: 65%;
    font-size: 22px;
    margin: 30px auto auto;
}

.input{
    margin-top: 40px;
    font-size: 20px;
}