.main-div{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .test{
        border: 1px solid grey;
        padding: 10px 12px;
        border-radius: 12px;
    }
    

    h1{
        text-transform: capitalize;
        span{
            color: rgb(94, 94, 94);
        }
    }
    input{
        border-radius: 12px;
        padding: 10px 5px;
    }
}