.App {
  text-align: center;
}

.button {
  background-color: rgb(128, 0, 79);
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 22px;
  color: rgb(255, 255, 255);
  margin-top: 20px ;
  cursor: pointer;
}

.button:hover{
  background-color: purple;
}
.button.red{
  background-color: red;
  color: #fff;
}
.button.red:hover{
  background-color: pink;
  color: #000;
}
